<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                        
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032068">QA Automation Engineer (backend, Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045925">Специалист по тестированию</a></td> 
     <td class="city">Череповец</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045304">MOBILE DEVELOPER – Senior SW Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043199">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045453">Golang Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OZON.travel</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045911">Back-end разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045910">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045907">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046066">Начальник отдела портальных и мобильных приложений</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045853">Руководитель web-разработки/Архитектор</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">220 Вольт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046064">Chief Technology Officer (CTO) / Руководитель отдела разработки</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">ТОО "IDOCSKZ"</td> 
     <td class="salary">От 3 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045719">Senior Frontend developer (remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 2 500 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045501">Android разработчик (удаленная работа)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Master Tigra, Inc.</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045734">Technical Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Droice Labs</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045727">Team Lead SQA Engineer, Treat TPI</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Align Technology Inc</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045718">Fullstack PHP разработчик/ программист (Middle+)</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ПартКом</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034736">QA engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046033">Веб-разработчик (PHP, javascript)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ВиртуалПос</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046032">Аналитик проекта по IBM InfoSphere Master Data Management Collaboration Server</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Транснефтьэнерго</td> 
     <td class="salary">До 136 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042187">Android developer</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Blogman</td> 
     <td class="salary">От 20 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045599">Web-разработчик (Full-Stack, Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">A3H</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045989">Менеджер по продажам и работе с клиентами</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">RegionSoft Developer Studio</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045702">QA Engineer CRM (Salesforce)/Инженер по тестированию CRM</a></td> 
     <td class="city"></td> 
     <td class="companyName">Veeam Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045417">Java разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">FINIT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029580">Старший Java Разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Руббери</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032068">QA Automation Engineer (backend, Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045925">Специалист по тестированию</a></td> 
     <td class="city">Череповец</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045304">MOBILE DEVELOPER – Senior SW Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043199">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045453">Golang Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OZON.travel</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045911">Back-end разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045910">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045907">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046066">Начальник отдела портальных и мобильных приложений</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045853">Руководитель web-разработки/Архитектор</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">220 Вольт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046064">Chief Technology Officer (CTO) / Руководитель отдела разработки</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">ТОО "IDOCSKZ"</td> 
     <td class="salary">От 3 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045719">Senior Frontend developer (remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 2 500 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045501">Android разработчик (удаленная работа)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Master Tigra, Inc.</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045734">Technical Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Droice Labs</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045727">Team Lead SQA Engineer, Treat TPI</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Align Technology Inc</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045718">Fullstack PHP разработчик/ программист (Middle+)</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ПартКом</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034736">QA engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046033">Веб-разработчик (PHP, javascript)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ВиртуалПос</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046032">Аналитик проекта по IBM InfoSphere Master Data Management Collaboration Server</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Транснефтьэнерго</td> 
     <td class="salary">До 136 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042187">Android developer</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Blogman</td> 
     <td class="salary">От 20 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045599">Web-разработчик (Full-Stack, Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">A3H</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045989">Менеджер по продажам и работе с клиентами</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">RegionSoft Developer Studio</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045702">QA Engineer CRM (Salesforce)/Инженер по тестированию CRM</a></td> 
     <td class="city"></td> 
     <td class="companyName">Veeam Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045417">Java разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">FINIT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029580">Старший Java Разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Руббери</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046023">Разработчик BigData</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046015">Разработчик Android, iOS на проект</a></td> 
     <td class="city"></td> 
     <td class="companyName">VAMDODOMA.RU</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045868">Data engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044551">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary">До 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046008">Frontend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DDG</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045864">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045866">DevOps разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045859">Главный ИТ инженер по автоматизированному тестированию</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045266">Backend Developer (Middle/Senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045673">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Деньги Сразу</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045990">Middle Scala Developer, Social Networking Platform</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024765">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RentaTeam</td> 
     <td class="salary">От 90 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045659">QA Automation Engineer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">VicMan</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045983">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Орбита</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045981">Консультант-разработчик СЭД</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045439">Elixir or Erlang Developer for PayBear</a></td> 
     <td class="city"></td> 
     <td class="companyName">iPresence</td> 
     <td class="salary">От 4 800 до 8 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045976">Инженер по автоматизации тестирования</a></td> 
     <td class="city"></td> 
     <td class="companyName">Кавычки</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045971">КРЕДО. Выдающиеся Кредиты</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043920">JAVA программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">Intis Telecom</td> 
     <td class="salary">От 1 500 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045964">Java Fullstack разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Giant</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045432">Разработчик Hadoop</a></td> 
     <td class="city"></td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045956">Специалист по тестированию</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045947">Java разработчик (junior)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Credit.Club</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045944">Lead Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Маркетплейс GOODS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045937">Разработчик банковского ПО</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043256">Blockchain разработчик (C++/python/java)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Серафим</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045924">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044895">Middle Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044176">Senior Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045905">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Очень Интересно</td> 
     <td class="salary">От 45 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042462">Fullstack developer (Python/React)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040366">JS Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 180 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043823">Android разработчик</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">Amigoweb</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045777">Senior Backend Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Trusty.fund</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045874">Back-end разработчики</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Hr_клуб</td> 
     <td class="salary">От 2 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045820">Системный архитектор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Oboз</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045890">Тестировщик (web+mobile)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Маркетплейс GOODS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045889">Ведущий Javascript (фронт-энд) разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Прогрэдис</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045785">Java Team Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Smart-HR</td> 
     <td class="salary">До 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030957">Senior Go (Golang) Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TechOps</td> 
     <td class="salary">До 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045875">Java Fullstack Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045856">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Alfaleads</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045832">Разработчик на платформе Pega</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045828">Руководитель группы (тимлид) SAP PI</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045823">Инженер по нагрузочному тестированию</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042618">Разработчик JAVA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045806">Senior Full-stack Java Developer (Thailand)</a></td> 
     <td class="city">Бангкок</td> 
     <td class="companyName">G-Nius Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045816">Тестировщик (автоматизированное тестирование)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045812">Java разработчик/Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045804">Java разработчик с частичной занятостью</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045802">Руководитель направления по развитию ИТ-систем</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027282">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CLARUS</td> 
     <td class="salary">От 250 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044974">QA автоматизатор (Trust &amp; Safety)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АВИТО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044968">Android-разработчик (Buyer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АВИТО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045794">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045787">Middle/Senior Android Developer (to USA)</a></td> 
     <td class="city"></td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045654">Full-Stack developer</a></td> 
     <td class="city">Таганрог</td> 
     <td class="companyName">Umbrella IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045784">PHP-разработчик 1C-Bitrix</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AGIMA</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045765">Python / R разработчик. Data scientist.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Genotek</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024148">Программист Scala/Java</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 24</td> 
     <td class="salary">От 40 000 до 75 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044926">Ведущий Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Payment Systems</td> 
     <td class="salary">От 180 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040352">Testing Engineer Windows (Москва, офис)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ТехноКад</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045752">Архитектор проекта</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Битворкс</td> 
     <td class="salary">От 165 000 до 234 500 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045629">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сравни.ру</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042356">PHP Разработчик/ PHP Developer (Web Applications)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045732">Старший разработчик Scala/Java NoSQL</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042381">Node.js Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040630">Back-End Web Developer (Python)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042382">Front-end JavaScript Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032685">Senior Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TechOps</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045502">Android developer</a></td> 
     <td class="city">Орел</td> 
     <td class="companyName">Arcsinus</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044961">Системный администратор Linux (Игры)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043163">Senior PHP back-end developer (Symfony)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco</td> 
     <td class="salary">От 90 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038406">Java-разработчик</a></td> 
     <td class="city">Сергиев Посад</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041277">Python developer — Cloud Services</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ivideon</td> 
     <td class="salary">От 150 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037560">Lead Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TechOps</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045588">QA инженер / специалист по ручному тестированию (iOS, android app)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Звук</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045583">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Diamond Personnel R&amp;C</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045598">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">Серафим</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040838">Инженер по автоматизации (DevOps)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АйТиЭм Холдинг</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045593">Разработчик Android в команду Яндекс.Диск</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044838">Fullstack Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Profee.Lab</td> 
     <td class="salary">От 160 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035362">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Jungle Jobs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035789">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Webdom</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045574">Senior Java developer (Black team)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043978">Senior QA Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Acme Crypto Corp</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045562">Android разработчик</a></td> 
     <td class="city">Вологда</td> 
     <td class="companyName">Макси</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044730">QA engineer / Тестировщик ПО</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Умный полис</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044762">Devops</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039968">Senior Frontend JavaScript Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044154">Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034529">Rust разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045550">Разработчик (Software Developer, Java)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО "Элемент"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045520">Ведущий серверный разработчик / Senior Backend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ситимобил</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035266">Специалист по автоматизированному тестированию (QA Automation Engineer)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Клевертек</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038490">Software Engineer - Backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Droice Labs</td> 
     <td class="salary">От 90 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038489">Software Engineer, Frontend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Droice Labs</td> 
     <td class="salary">От 90 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044669">Программист Java</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">TECAR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045509">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">DartIT</td> 
     <td class="salary">От 60 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044336">Старший Java-разработчик | Senior Java Developer (Fullstack/Backend)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Passengers friend</td> 
     <td class="salary">От 50 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045499">Web Team Leader</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045498">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">До 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042341">Data Team Developer (PHP)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045485">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NeuroHR</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035652">QA / Специалист по тестированию</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045465">Маркетолог и Business Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Blockchair</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034352">UX/UI Designer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TechOps</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045429">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Surf</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045452">Mobile Developer (iOS/Android)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Mentalstack</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045449">Тестировщик продукта (QA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045438">Embedded Lead / Firmware Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Universa HODL</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045430">DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045435">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028736">С# разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка – банк для предпринимателей</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045428">Старший разработчик SAS</a></td> 
     <td class="city"></td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045422">Lead Full stack (Java) developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Decathlon</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045396">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">MembranaX</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045397">Android разработчик (Middle/Senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036108">Full-stack JavaScript developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033185">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/28148631?query=java%20Moscow">Программист Java / Java Developer</a></td> 
     <td class="city">Москва, ЗИЛ и еще 3</td> 
     <td class="companyName">ООО Дитрикс</td> 
     <td class="salary">от 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/27910681?query=java%20Moscow">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ЛТ Менеджмент</td> 
     <td class="salary">100 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/25019230?query=java%20Moscow">Java-разработчик</a></td> 
     <td class="city">Москва, Сокол</td> 
     <td class="companyName">ООО ПАРАМИТЕК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/25961619?query=java%20Moscow">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ГЛОСАВ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/27834113?query=java%20Moscow">Java-разработчик</a></td> 
     <td class="city">Москва, Южная</td> 
     <td class="companyName">Элемент 5</td> 
     <td class="salary">120 000-160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/27576768?query=java%20Moscow">Java разработчик /Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DIGINETICA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/27908939?query=java%20Moscow">Full-stack программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">LW Strategy</td> 
     <td class="salary">100 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/28083060?query=java%20Moscow">Java-разработчик (стажёр Salesforce)</a></td> 
     <td class="city">Москва, Курская</td> 
     <td class="companyName">Aquiva Labs</td> 
     <td class="salary">50 000-100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/28131157?query=java%20Moscow">Senior Java/C++ developer (Magellan)</a></td> 
     <td class="city">Москва, Третьяковская и еще 2</td> 
     <td class="companyName">Deutsche Bank Technology Center</td> 
     <td class="salary">от 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/28124104?query=java%20Moscow">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИП Козлов Владимир Владимирович</td> 
     <td class="salary">до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/27980034?query=java%20Moscow">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ФИНТЕХ</td> 
     <td class="salary">100 000-180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>